<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-github" aria-hidden="true" fa-5x></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Repo</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<form>
  <div class="form group">
    <input class="form-control" name="search" #userName>
    <button class="btn btn-outline-warning" (click)="performSearch(userName)">Search</button>

  </div>
</form>

<br>
<!-- collect and show user data, by default shows me! -->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      {{user1.name}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{user1.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="first">
            <span class="badge">{{user1.public_repos}} Public Repos</span>
            <span class="badge">{{user1.followers}} Followers</span>
            <span class="badge">{{user1.following}} Following</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item">user name: {{user1.login}}</li>
            <li class="list-group-item" *ngIf="location">Location: {{user1.location}}</li>
            <li class="list-group-item" *ngIf="email">Email:{{user1.email}}</li>
            <li class="list-group-item">URL: <a href="{{user1.html_url}}" target="_blank">View on Github</a></li>
            <li class="list-group-item">Member Since: {{user1.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- show repo details of users after the search -->
  <div class="card">
    <div class="card-header">
      {{user1.name}}
    </div>
    <div class="card-body">
      <div class="row" *ngFor='let repo of repos, let i=index'>
        <div class="col-md-4">
          {{repos[i].name}}
        </div>
        <div class="col-md-4">
          {{repos[i].pushed_at}}
        </div>
        <div class="col-md-4">
          {{repos[i].forks_count}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="list-group list-group-flush" >
  <li class="list-group-item">{{repos[i].name}}</li>
  <li class="list-group-item">{{repos[i].pushed_at}}</li>
  <li class="list-group-item">{{repos[i].forks_count}}</li>
</ul> -->
