<div class="container">
<form class="form-inline my-2 my-lg-0">
  <div class="form group">
    <input class="form-control mr-sm-2" name="userName" [(ngModel)]="userName" (keyup)="findUser()">
    <button class="btn-inline btn-outline-warning" (click)="findUser(userName)">Search</button>

  </div>
</form>
<br>


<br>
<!-- collect and show user data, by default shows me! -->

  <div class="card">
    <div class="card-header">
    <h2>  {{user1.name}} </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{user1.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="first">
            <span class="badge">{{user1.public_repos}} Public Repos</span>
            <span class="badge">{{user1.followers}} Followers</span>
            <span class="badge">{{user1.following}} Following</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item">user name: {{user1.login}}</li>
            <li class="list-group-item" *ngIf="location">Location: {{user1.location}}</li>
            <li class="list-group-item" *ngIf="email">Email:{{user1.email}}</li>
            <li class="list-group-item">URL: <a href="{{user1.html_url}}" target="_blank">View on Github</a></li>
            <li class="list-group-item">Member Since: {{user1.created_at| date:short:timezone}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- show repo details of users after the search -->
  <!-- <div class="card" id="repos.id">
    <div class="card-header">
      <h3>{{user1.login}} 's repositories</h3>
      <small>{{user1.name}}</small>
    </div>
    <div class="card-body">
      <div class="row" *ngFor='let repo of repos, let i=index'>
        <div class="col-md-4">
          {{repos[i].name}}
        </div>
        <div class="col-md-4">
          {{repos[i].pushed_at| date:short:timezone}}
        </div>
        <div class="col-md-4">
          {{repos[i].forks_count}}
        </div>
      </div>
    </div>
  </div> -->
</div>
